@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image:url("../images/wimbledon_court.jpg");
	font-family: Comfortaa, sans-serif;
	font-size: 20px;
	color: #fff;
	margin-top: 3.5em;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
	font-size: 4em;
	font-family: Oleo Script, serif;
}

header {
	color: white;
	padding: 20px;
}

main {
	font-size: 1.2em;
	font-weight: bold;
	width: 25em;
	margin-left: 1em;
	/*background-color: rgba(173, 206, 140, .25);*/
}

aside {
	font-size: 1.2em;
	padding: 2em;
	margin-right: 2em;
	background-color: rgb(255, 255, 102);
}

li{
	list-style-type: none;	
}

span{
	text-transform: uppercase;
	font-weight: bold;
}

#slogan {
	font-size: 2em;
	font-style: italic;
	font-family: Comfortaa, serif;
	background-color: #0A251A;
}

#two_column {
	padding: 20px;
}

#left {
	float: left;
	width: 64.66%;
	margin: 1%;
}

#right {
	margin-top: 2em;
	float: right;
	width: 31.33%;
	margin: 1%;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

nav {
	color: #0A251A;
	padding: 1em;
	font-size: 1.2em;
	clear: both;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
