@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Comfortaa, sans-serif;
	font-size: 20px;
	color: #fff;
	/* margin-top: 3.5em; */
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
	font-size: 4em;
	font-family: Oleo Script, serif;
}

header {
	color: white;
	padding: 20px;
	background: url("../images/wimbledon_court.jpg");
	background-size: cover;
	padding: 5em 0;
	background-repeat: no-repeat;
	clear: both;
}

#nav {
	background-color: #0A251A;
}

.table {
	display: table;
	margin: 0 auto;
	background-color: #0A251A;
}

ul#horizontal-list {
	list-style: none;
	background-color: #0A251A;
}

ul#horizontal-list li{
	display: inline;
	color: white;
	background-color: #0A251A;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

nav ul{
	text-align: center;
}
nav li {
	list-style-type: none;
	float: left;
	display: inline;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #0A251A;
}

nav {
	background-color: #0A251A;
}

#right li {
	list-style-type: none;
	background-color: rgba(10, 37, 26, .25)
}

a {
	text-decoration: none;
	color: white;
}

/*a:link {
	color: white;
}

a:visited {
	color: white;
}*/

.table a:hover {
	color: #DBFB00;
}

span a:hover {
	color: #DBFB00;
}

div {
	background-color: #54008B;
}

#slogan {
	font-size: 2em;
	font-style: italic;
	font-family: Comfortaa, serif;
	background-color: #0A251A;
}

hr {
	color: white;
	width: 100%;
	border: 0;
	height: 1px;
}

#left {
	float: left;
	width: 60%;
	margin: 2%;
	padding: 1em;
	border-radius: 1em;
	background-color: #0A251A;
}

#right {
	margin-top: 2em;
	margin-right: 1%;
	padding: 2em;
	border-radius: 1em;
	float: right;
	width: 31.33%;
	background-color: #0A251A;
}

#contact {
	padding: .25em;
	font-size: 1.2em;
	color: white;
	background-color: #54008B;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
