@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Comfortaa, sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
	font-size: 4em;
	font-family: Oleo Script, serif;
}

header {
	color: white;
	background: url("../images/wimbledon_court.jpg");
	background-size: cover;
	padding: 5em 0;
	background-repeat: no-repeat;
	clear: both;
}

nav a {
	list-style-type: none;
	display: inline;
    padding: 0em 1em;
    background-color: #0A251A;
    text-align: center;
}

nav {
	background-color: #0A251A;
	padding: .25em; 
}

a {
	text-decoration: none;
	color: white;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: #DBFB00;
}

div {
	background-color: #54008B;
}

#slogan {
	font-size: 2em;
	font-style: italic;
	font-family: Comfortaa, serif;
	background-color: #0A251A;
	padding: .25em;
}

hr {
	color: white;
	width: 100%;
	border: 0;
	height: .02em;
}

#left {
	float: left;
	width: 58%;
	margin: 2% 1% 0% 3%;
	padding: 1em;
	border-radius: 1em;
	background-color: #0A251A;
}

#right {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-right: 5%;
	padding: 2em;
	border-radius: 1em;
	float: right;
	width: 30%;
	background-color: #0A251A;
}

#right li {
	list-style-type: none;
	background-color: rgba(10, 37, 26, .25)
}

#contact {
	padding: .25em;
	font-size: 1.2em;
	color: white;
	background-color: #54008B;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 700px){
#right {
	float: none;
	width: auto;
	text-align: center;
	margin: 2%;
	}

#left {
	float: none;
	width: auto;
	margin: 2%;
}

nav a:link {
	display: block;
}

header {
	padding: 2em;
}

body {
	font-size: 16px;
}

#slogan {
	font-size: 1.5em;
}

hr {
	display: none;
}
}

