@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

body {
	background-image:url("../images/wimbledon_court.jpg");
	font-family: Comfortaa, sans-serif;
	font-size: 20px;
	color: #0A251A;
	margin-top: 100px;
}

h1 {
	font-size: 80px;
	font-family: Oleo Script, serif;
}

header {
	text-align: center;
	color: white;
}

section {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	width: 30em;
	margin: auto;
	background-color: rgba(173, 206, 140, .25);
}

#slogan {
	font-size: 40px;
	font-style: italic;
	font-family: Comfortaa, serif;
	background-color: #0A251A;
}

h3, a {
	text-align: center;
	color: #0A251A;
}